body{
    background-color: black;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-image: url(img/Media.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

h1{
    text-decoration: underline; 
    text-underline-offset: 5px;
     
}

h1:hover{
    transform: scale(1.1);
    transition: 2s
}

.Thanks{
    bottom: 20px;
    right: 50px;
    position: absolute;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    opacity: 0.5;
}

.All{
    text-align: center;    
}
